<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388454342731-la772qddnc8hksk0nqhr8su9jved63pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388454342731-la772qddnc8hksk0nqhr8su9jved63pn</string>
	<key>API_KEY</key>
	<string>AIzaSyAehNa53cVlixwum8MWl_ue9InrEGqR4K4</string>
	<key>GCM_SENDER_ID</key>
	<string>388454342731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkanvay.MovieBrowser</string>
	<key>PROJECT_ID</key>
	<string>moviebrowser-19dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>moviebrowser-19dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388454342731:ios:5a092bc4e1c27b33d9edce</string>
</dict>
</plist>